@font-face {
    font-family: 'VIC-Regular';
    src: url('/Produce/fonts/VIC-Regular.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-Regular.woff') format('woff');
    src: url('/Produce/fonts/VIC-Regular.ttf') format('truetype') ;
    src: url('/Produce/fonts/VIC-Regular.woff2') format('woff2');
    
}

@font-face {
    font-family: 'VIC-SemiBold';
    src: url('/Produce/fonts/VIC-SemiBold.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-SemiBold.woff') format('woff');
    src: url('/Produce/fonts/VIC-SemiBold.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-SemiBold.woff2') format('woff2');
    
}

@font-face {
    font-family: 'VIC-SemiBoldItalic';
    src: url('/Produce/fonts/VIC-SemiBoldItalic.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-SemiBoldItalic.woff') format('woff');
    src: url('/Produce/fonts/VIC-SemiBoldItalic.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-SemiBoldItalic.woff2') format('woff2') ;
    
}

@font-face {
    font-family: 'VIC-Bold';
    src: url('/Produce/fonts/VIC-Bold.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-Bold.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-Bold.woff') format('woff');
    src: url('/Produce/fonts/VIC-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'VIC-BoldItalic';
    src: url('/Produce/fonts/VIC-BoldItalic.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-BoldItalic.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-BoldItalic.woff')  format('woff');
    src: url('/Produce/fonts/VIC-BoldItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'VIC-Italic';
    src: url('/Produce/fonts/VIC-Italic.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-Italic.ttf')  format('truetype');
    src: url('/Produce/fonts/VIC-Italic.woff') format('woff');
    src: url('/Produce/fonts/VIC-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'VIC-Light';
    src: url('/Produce/fonts/VIC-Light.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-Light.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-Light.woff') format('woff');
    src: url('/Produce/fonts/VIC-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'VIC-LightItalic';
    src: url('/Produce/fonts/VIC-LightItalic.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-LightItalic.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-LightItalic.woff') format('woff');
    src: url('/Produce/fonts/VIC-LightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'VIC-ExtraLight';
    src: url('/Produce/fonts/VIC-ExtraLight.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-ExtraLight.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-ExtraLight.woff') format('woff');
    src: url('/Produce/fonts/VIC-ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'VIC-ExtraLightItalic';
    src: url('/Produce/fonts/VIC-ExtraLightItalic.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-ExtraLightItalic.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-ExtraLightItalic.woff') format('woff');
    src: url('/Produce/fonts/VIC-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'VIC-Medium';
    src: url('/Produce/fonts/VIC-Medium.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-Medium.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-Medium.woff') format('woff');
    src: url('/Produce/fonts/VIC-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'VIC-MediumItalic';
    src: url('/Produce/fonts/VIC-MediumItalic.eot?#iefix') format('embedded-opentype');
    src: url('/Produce/fonts/VIC-MediumItalic.ttf') format('truetype');
    src: url('/Produce/fonts/VIC-MediumItalic.woff') format('woff');
    src: url('/Produce/fonts/VIC-MediumItalic.woff2') format('woff2');
}

